<div class="container">
  <div class="container_content">
    <div class="airplane_data">
      <div class="title_data">Luggage</div>
      <div class="luggage">
        <div class="title">Hand luggage</div>
        <p>MAX. 10KG</p>
        <p>Wheels: allowed/optional</p>
        <p>40x30x20cm</p>
        <p>FREE</p>
      </div>
      <div class="luggage">
        <div class="title">HANDHELD SUITCASE ON WHEELS</div>
        <p>MAX. 10KG</p>
        <p>Wheels: allowed/optional</p>
        <p>55x40x23cm</p>
        <div class="select" [formGroup]="form">
          <mat-form-field appearance="fill">
            <mat-label>Suitcase</mat-label>
            <mat-select [formControlName]="'suitcase'">
              <mat-option value="0">0</mat-option>
              <mat-option value="1">1</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div class="airplane">
      <app-airplane (seatSelect)="onSeatSelect($event)"></app-airplane>
    </div>
    <button
      [disabled]="!form.valid"
      (click)="onSubmit()"
      class="btn"
      mat-raised-button
      color="primary"
      type="submit"
    >
      Next
    </button>
  </div>
</div>
