<div class="container_logon">
  <div class="card_logon" [ngClass]="{ registrationMode: showRegistration }">
    <form class="sign_in">
      <h2>Sign In</h2>
      <div>
        <div class="input_container">
          <label for="login">Login: </label>
          <input id="login" type="text" />
        </div>
        <div class="input_container">
          <label for="password">Password: </label>
          <input id="password" type="password" />
        </div>
        <div class="btn_container">
          <button mat-raised-button color="primary" type="submit">
            Sign In
          </button>
        </div>
      </div>
    </form>
    <div class="menu_signUp">
      <h2>Hello Friend!</h2>
      <p>Please create your account to use this app</p>
      <button (click)="onShowRegistration()">Sign up</button>
    </div>
    <!-- <div class="sign_up"></div> -->
  </div>
</div>
