<div class="container_logon">
  <div class="card_logon" [ngClass]="{ registrationMode: !defaultView }">
    <div class="sign">
      <app-sign-in *ngIf="!showRegistration"></app-sign-in>
      <app-sign-up *ngIf="showRegistration"></app-sign-up>
    </div>
    <div class="menu">
      <div class="menu_signUp" *ngIf="!showRegistration">
        <h2>Hello Friend!</h2>
        <p>Please create your account to use this app</p>
        <button mat-raised-button color="primary" (click)="onSwitchMode()">
          Sign up
        </button>
      </div>
      <div class="menu_signIn" *ngIf="showRegistration">
        <h2>Welcome back</h2>
        <p>Please login to your account</p>
        <button mat-raised-button color="primary" (click)="onSwitchMode()">
          Sign in
        </button>
      </div>
    </div>
  </div>
</div>
