.main_content {
  min-height: calc(100vh - 155px);
  padding: 30px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .main_content {
    display: flex;
    flex-flow: column wrap;
    padding: 0;
    justify-content: center;
  }
}
