<div class="container">
  <div class="container_content">
    <img
      class="airplane"
      src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Generic_turbofan_airplane.svg"
      alt="airplane"
      (click)="goToHome()"
    />
    <div class="container_btn">
      <button
        mat-fab
        extended
        color="accent"
        class="btn"
        (click)="goToRegistration()"
        *ngIf="!user"
      >
        Registration
      </button>
      <button
        mat-fab
        extended
        color="accent"
        class="btn"
        (click)="goToLogin()"
        *ngIf="!user"
      >
        Login
      </button>
      <button
        mat-fab
        extended
        color="accent"
        class="btn"
        (click)="logOut()"
        *ngIf="user"
      >
        Log out
      </button>
    </div>
  </div>
</div>
