<div class="container">
  <div class="container_content">
    <img
      class="airplane"
      src="https://upload.wikimedia.org/wikipedia/commons/f/f3/Generic_turbofan_airplane.svg"
      alt=""
    />
    <div class="container_btn">
      <button
        mat-fab
        extended
        color="accent"
        class="btn"
        (click)="goToRegistration()"
      >
        Registration
      </button>
      <button mat-fab extended color="accent" class="btn" (click)="goToLogin()">
        Login
      </button>
    </div>
  </div>
</div>
