td {
  width: 50px;
  max-width: 50px;
  overflow: hidden;
  height: 20px;
  text-align: center;
  button {
    width: 100%;
    height: 100%;
    cursor: pointer;
    &.full {
      background-color: gray;
      cursor: not-allowed;
    }
    &.selected {
      background-color: #ffab40;
      cursor: pointer;
    }
  }
}
