<div class="container" [formGroup]="form">
  <div class="header_options">Choose your destination</div>
  <div class="flex_field">
    <app-departure-place
      class="select"
      [cities]="cities"
      [form]="form"
    ></app-departure-place>
    <app-arrival-place
      class="select"
      [cities]="cities"
      [form]="form"
    ></app-arrival-place>
  </div>
  <app-calendar [form]="form"></app-calendar>
  <app-passengers [form]="form"></app-passengers>
  <div class="container_btn">
    <button
      class="btn_submit"
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!form.valid"
      (click)="onSubmit()"
    >
      Submit
    </button>
  </div>
</div>
