.container {
  background-color: gray;
  width: 500px;
  height: 400px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.header_options {
  font-size: 20px;
  padding: 20px;
}

.flex_field {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.select {
  padding: 5px;
}

.container_btn {
  margin-top: 20px;
}
