:host {
  position: relative;
}

.header_passengers {
  display: flex;
  justify-content: center;
}

.menu_container {
  position: absolute;
  top: 50px;
}

.container {
  display: flex;
  justify-content: space-between;
}

.btn_icon {
  display: flex;
  justify-content: center;
  align-self: center;
}

input {
  background-color: #ffffff;
  width: 40px;
  border: none;
  display: flex;
}
