:host {
  position: relative;
}

.header_passengers {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}

.menu_container {
  position: absolute;
  top: 50px;
  z-index: 2;
}

.flex {
  display: flex;
  flex-flow: row nowrap;
  margin-bottom: 7px;
}

.text_passangers {
  width: 30%;
  padding-top: 12px;
}

.main_inp {
  width: 40px;
  text-align: center;
}

.btn_passangers {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 8px;
}
