<button mat-raised-button (click)="showPassengers()">Passangers</button>

<mat-card class="menu_container" *ngIf="isMenuVisible">
  <mat-card-content>
    <div class="header_passengers">Passangers</div>
    <mat-form-field
      appearance="fill"
      [formGroup]="form"
      class="container_passengers"
    >
      <!-- ############## -->
      <div formGroupName="passangers" class="flex">
        <div class="flex text_passangers">Adult</div>
        <div class="flex">
          <button mat-mini-fab color="primary" (click)="minusAdult()">
            <mat-icon class="btn_passangers">-</mat-icon>
          </button>
          <input
            class="main_inp"
            matInput
            [formControlName]="'adult'"
            type="string"
          />
          <button mat-mini-fab color="primary" (click)="plusAdult()">
            <mat-icon class="btn_passangers">+</mat-icon>
          </button>
        </div>
      </div>
      <div formGroupName="passangers" class="flex">
        <div class="flex text_passangers">Kids</div>
        <div class="flex">
          <button mat-mini-fab color="primary" (click)="minusKids()">
            <mat-icon class="btn_passangers">-</mat-icon>
          </button>
          <input
            class="main_inp"
            matInput
            [formControlName]="'kids'"
            type="string"
          />
          <button mat-mini-fab color="primary" (click)="plusKids()">
            <mat-icon class="btn_passangers">+</mat-icon>
          </button>
        </div>
      </div>

      <!-- ############## -->
    </mat-form-field>
  </mat-card-content>
</mat-card>
