<div class="container_view">
  <div class="container" *ngIf="flyParameters">
    <div class="parameters">
      <div class="title">Fly summary</div>
      <div class="parameter_container">
        <label>Arrival</label>
        <p>{{ flyParameters.arrival }}</p>
      </div>
      <div class="parameter_container">
        <label>Departure</label>
        <p>{{ flyParameters.departure }}</p>
      </div>
      <div class="parameter_container">
        <label>Start date</label>
        <p>{{ flyParameters.startDate | date }}</p>
      </div>
      <div class="parameter_container">
        <label>End date</label>
        <p>{{ flyParameters.endDate | date }}</p>
      </div>
      <div class="parameter_container">
        <label>Adult passangers</label>
        <p>{{ flyParameters.passangers.adult }}</p>
      </div>
      <div class="parameter_container">
        <label>Kids passangers</label>
        <p>{{ flyParameters.passangers.kids }}</p>
      </div>
      <!--  -->
      <div class="parameter_container">
        <label>Suitcase</label>
        <p>{{ flyDetails.suitcase }}</p>
      </div>
      <div class="parameter_container">
        <label>Selected seats</label>
        <p>{{ flyDetails.seats }}</p>
      </div>
      <div class="parameter_container">
        <label>Total Price</label>
        <p>
          {{
            flyParameters.passangers.adult * 20 +
              flyParameters.passangers.kids * 15 +
              flyDetails.suitcase * 30
          }}EURO
        </p>
      </div>
    </div>
    <div class="summary">Thank you for booking your flight on our website!</div>
  </div>
</div>
